<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body style = "background-image: url(http://www.ultraimg.com/images/2UeGfhZ.jpg);">
<div class="page">
  <div class="pageHeader">
    <div class="title">Dashboard</div>
    <div class="userPanel"><span class="username">Admin </span></div>
  </div>
  <div class="main">
    <div class="nav">
      <div class="menu">
        <div class="title">Navigation</div>
        <ul>
        	<li class="active"><a href="/dashboard/"><i class="fas fa-unlock-alt"></i> Dashboard</li>
          <li><a href = "/dashboard/disorders"><i class="fas fa-th"></i> Disorders</li>
          <li><a href = "/dashboard/posts"><i class="fa fa-signal"></i> Posts</a></li>
          <li><a href = "/dashboard/memoirs"><i class="fa fa-tasks"></i> Memoirs</a></li>
          <li><a href = "/dashboard/lists"><i class="fas fa-clipboard-list"></i> List</a></li>
          <li><a href = "/dashboard/feedbacks"><i class="fas fa-clipboard-list"></i>Feedbacks</a></li>
          <li><a href = "/"><i class="fa fa-home"></i> Home</a></li>
        </ul>
      </div>
    </div>