 <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Wanna know us??</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Memoirs</a></li>
            <li><a class="white-text" href="#!">Articles</a></li>
            <li><a class="white-text" href="#!">Feedback</a></li>
            <li><a class="white-text" href="#!">More!</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Github</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Google</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made in <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> by Jargons
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="scripts/materialize.js"></script>
  <script src="scripts/init.js"></script>

  </body>
</html>