<% include ../partials/adminheader %>
	<div class="view">
		<div class="viewHeader">
			<div class="title">Edit Disorder</div>
			<form action="/dashboard/disorders/<%= disorder._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="disorder[name]" value="<%= disorder.name %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="disorder[description]" value="<%= disorder.description %>">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Update!</button>
				</div>
			</form>
		</div>
	</div>
<% include ../partials/adminfooter %>