<% include ../partials/header %>
</div>

<div class="row">
	<div class="col-sm-3 sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="/dashboard">Disorders</a></li>
			<li role="presentation"><a href="/dashboard/posts">Posts</a></li>
			<li role="presentation"><a href="/dashboard/memoirs">Memoirs</a></li>
			<li role="presentation"><a href="#">Home</a></li>
		</ul>
	</div>

	<div class="col-sm-9">
		<div class="">
			<div class="addbutton">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#disorder"><span class="glyphicon glyphicon-plus"></span> Add Disorder</button>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Disorders</th>
						<th>Total Posts</th>
						<th>Action</th>
					</tr>
					<% disorders.forEach(function(disorder) { %>
						<tr>
							<td><%= disorder.name %></td>
							<td><%= disorder.posts.length %></td>
							<td>
								<a href="/dashboard/disorders/edit/<%= disorder._id %>" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
								<form action ="/dashboard/<%= disorder._id %>?_method=DELETE" method="POST" class="delete-form">
									<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>
									</button>
								</form>
							</td>
						</tr>
					<% }) %>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="disorder" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Disorders</h4>
      </div>
      <div class="modal-body">
        <p>How many disorders(in numbers) do you wanna add?</p>
        <form action="/dashboard/disorders/add" method="post">
        	<input type="number" name="memno" class="form-control">
        	<br>
        	<button class="form-control btn btn-info">Let's Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div>
<% include ../partials/footer %>