<% include ../partials/adminheader %>
    <div class="view">
      <div class="viewHeader">
        <div class="title">Manage Stats</div>
        <div class="functions">
          <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#disorder"><span class="glyphicon glyphicon-plus"></span>Add Disorder</button> -->
        </div>
      </div>
      <div class="content">
        <div class="list">
          <div class="title">Stats</div>
          <ul>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </div>
<% include ../partials/adminFooter %>