<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body style = "background-image: url(http://www.ultraimg.com/images/2UeGfhZ.jpg);">
<div class="page">
  <div class="pageHeader">
    <div class="title">Dashboard</div>
    <div class="userPanel"><i class="fa fa-chevron-down"></i><span class="username">Admin </span><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/73.jpg" width="40" height="40"/></div>
  </div>
  <div class="main">
    <div class="nav">
      <div class="searchbox">
        <div><i class="fa fa-search"></i>
          <input type="search" placeholder="Search"/>
        </div>
      </div>
      <div class="menu">
        <div class="title">Navigation</div>
        <ul>
        	<li><a href = "/dashboard/"><i class="fa fa-home"></i>Dashboard</li>
          <li><a href = "/dashboard/disorders"><i class="fa fa-home"></i>Disorders</a></li>
          <li><a href = "/dashboard/posts"><i class="fa fa-signal"></i>Posts</a></li>
          <li  class="active"><a href = "/dashboard/memoirs"><i class="fa fa-tasks"></i>Memoirs</a></li>
          <li><a href = "/"><i class="fa fa-envelope"></i>Home</a></li>
        </ul>
      </div>
    </div>
    <div class="view">
      <div class="viewHeader">
        <div class="title">Manage Memoirs</div>
        <div class="functions">
          <!-- <button type="button" class="btn btn-success green" data-toggle="modal" data-target="#memoir"><span class="glyphicon glyphicon-plus"></span> Add Memoirs</button> -->
        </div>
      </div>
      <div class="content">
        <div class="list">
          <div class="title">Memoirs</div>
          <ul>
          	<% memoirs.forEach(function(memoir) { %>
            	<li>
            		<%= memoir.name %>
            		<%= memoir.createdAt %>
              		<div class="info">
                	<a href="/dashboard/memoirs/edit/<%= memoir._id %>" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                	<form action ="/dashboard/memoir/<%= memoir._id %>?_method=DELETE" method="POST" class="delete-form">
										<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>
              	</div>
            	</li>
            <% }) %>
          </ul>
        </div>
   
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="memoir" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Models</h4>
      </div>
      <div class="modal-body">
        <p>How many memoir(in numbers) do you wanna add?</p>
        <form action="/dashboard/memoirs/add" method="post">
        	<input type="number" name="memno" class="form-control">
        	<br>
        	<button class="form-control btn btn-info">Let's Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
</script>
<!-- Custom JS for features -->
<script src="/scripts/main.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>