<% include ../partials/adminheader %>
  <div class="view">
    <div class="viewHeader">
      <div class="title">Manage Posts</div>
      <div class="functions">
        <!-- <button type="button" class="btn btn-success green" data-toggle="modal" data-target="#post"><span class="glyphicon glyphicon-plus"></span> Add Posts</button> -->
      </div>
    </div>
    <div class="content">
      <div class="list">
        <div class="title">Posts</div>
        <ul>
        	<% posts.forEach(function(post) { %>
            <li>
                <span>
                  <b><%= post.symptom %></b>
                  <u> Posted Under <%= post.parent.disorder %></u>
                </span>
              	<div class="info">
                	<a href="/dashboard/posts/edit/<%= post._id %>" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                	<form action ="/dashboard/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-form">
										<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>
										</button>
									</form>
              	</div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  <div id="post" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Posts</h4>
        </div>
        <div class="modal-body">
          <p>How many posts(in numbers) do you wanna add?</p>
          <form action="/dashboard/posts/new" method="post">
          	<input type="number" name="memno" class="form-control">
          	<br>
          	<button class="form-control btn btn-info">Let's Add</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/adminFooter %>