<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Aceso</title>
      

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <!-- Theme CSS -->
      <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
      <link rel="stylesheet" href="/stylesheets/main_new.css">
      <!-- Custom Fonts -->

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      
      <style>
        .img-center {
          margin: 0 auto;
        }
      </style>
  </head>
  <body style="padding-top: 0px">
  <!-- Navigation -->
  <nav style="font-size: 2em;" class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home" class="brand-logo">Aceso</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/memoirs">Memoirs</a></li>
        <li><a href="/disorders">Articles</a></li>
        <li><a href="/feedbacks">Feedback</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
	<header class="intro-header" style="background-image: url(https://images.unsplash.com/photo-1492057201103-01c5991d4596?ixlib=rb-0.3.5&s=9b5e92f58ec920c4946edc083e2cd0df&auto=format&fit=crop&w=755&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>About</h1>
            <hr class="small">
						<p class="subheading">Meet the team behind this project</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
        <!-- Team Members Row -->
        <div class="row">

          <div class="col l4 col s6 text-center">
              <div class="card large lR border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Jayesh Patel
                       <br><small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>

          <div class="col l4 col s6 text-center">
              <div class="card large border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Ashish Ekka
                      <br> <small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>

          <div class="col l4 col s6 text-center">
              <div class="card large border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Lokesh Kashyap
                       <br><small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>

          <div class="col l4 col s6 text-center">
              <div class="card large border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Akansha Shukla
                      <br> <small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>

          <div class="col l4 col s6 text-center">
              <div class="card large border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Swaril Singhal
                      <br> <small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>

          <div class="col l4 col s6 text-center">
              <div class="card large border-0">
                <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzNTY1NjYwMl5BMl5BanBnXkFtZTgwNTIwNjMzMjI@._CR786,95,469,469_UX402_UY402._SY201_SX201_AL_.jpg" alt="" class="rounded-circle img-circle img-responsive img-center">
                 <div class="card-title">
                   <h3>Shirisha Adhikarla
                       <br><small>Team Member</small>
                    </h3> 
                  </div>
                <div class="card-content">
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>  
              </div>
          </div>
            

            
                
                
            </div>
        </div>
        <hr>
    </div>
    <!-- /.container -->
<% include ./partials/footer %>
