<% include ../partials/header %>
<header class="jumbotron">
	<div class="container">
		<h1>Welcome To Our Disorders</h1>
		<p>Pagal Hojaiye!!!</p>
		<% if(currentUser && currentUser.isAdmin){ %>
		<p>
			<a class"btn btn-primary btn-lg" href="/disorders/new">Add New Disorder</a>
		</p>
		<% } %>
	</div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
	<% disorders.forEach(function(disorder) { %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= disorder.image %>"></img>
				<div class="caption">
					<h4><%= disorder.name %></h4>
				</div>
				<p>
          <a href="/disorders/<%= disorder._id %>" class="btn btn-primary">More Info</a>
        </p>
			</div>	
		</div>
	<% }); %>
</div>



<% include ../partials/footer %>