<html>
    <head>
        <title>Mental Wellbeing</title>
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="show_articles.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="col-lg-4 thumbnail">
                    
                        <img src="images/Stress2.jpg" alt="Live life stress free">
                        <div class="caption">
                            <h3>Anxiety</h3>
                            <p>
                            Anxiety is a general term for several disorders that cause nervousness, fear, apprehension, and worrying.
                            These disorders affect how we feel and behave and can cause physical symptoms. Mild anxiety is vague and unsettling, while severe anxiety can seriously affect day-to-day living.
                            </p>
                            <p>
                                Vidisse amet ullamco, a occaecat distinguantur. Ut irure quo summis quo 
                                voluptate labore quae qui noster. Tempor dolore labore laboris amet, elit 
                                probant ex graviterque. Si illum fabulas graviterque, a quae laboris illustriora 
                                te e quae consequat cernantur, te ita fidelissimae. Quis nam te enim incurreret 
                                ubi duis de iudicem qui ipsum, occaecat ita nostrud ubi ubi ea transferrem. 
                                Laboris malis lorem litteris culpa.
                            </p>
                            </div>
                </a>
                <div class="col-lg-1"></div>
                <a href="#" class="col-lg-4 thumbnail">
                    
                        <img src="images/Stress2.jpg" alt="Live life stress free">
                        <div class="caption">
                            <h3>Anxiety</h3>
                            <p>
                            Anxiety is a general term for several disorders that cause nervousness, fear, apprehension, and worrying.
                            These disorders affect how we feel and behave and can cause physical symptoms. Mild anxiety is vague and unsettling, while severe anxiety can seriously affect day-to-day living.
                            </p>
                            </div>
                </a>
                <div class="col-lg-1"></div>
                <a href="#" class="col-lg-4 thumbnail">
                    
                        <img src="images/Stress2.jpg" alt="Live life stress free">
                        <div class="caption">
                            <h3>Anxiety</h3>
                            <p>
                            Anxiety is a general term for several disorders that cause nervousness, fear, apprehension, and worrying.
                            These disorders affect how we feel and behave and can cause physical symptoms. Mild anxiety is vague and unsettling, while severe anxiety can seriously affect day-to-day living.
                            </p>
                            </div>
                </a>
                <div class="col-lg-1"></div>
                
            </div><!--row ends-->
        </div><!--container ends-->
        
        <br><hr><br>
        
        <article>
            <h2>Mental Wellbeing</h2>
            <section><p>
                Fore offendit eruditionem quo se ut efflorescere. Ne et reprehenderit. Te velit 
                noster eu arbitror ex ullamco an incididunt qui id magna aut aliqua te probant 
                legam excepteur se appellat exercitation do cupidatat te ad ita lorem anim 
                tamen, quid laborum de anim elit, singulis labore laboris incurreret. Vidisse 
                enim ex appellat cohaerescant e et esse an illum. Possumus tamen possumus 
                officia. Proident in incurreret.
                </p>
                <br><hr><br>
            </section>
        </article>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
        
        
     <script src="mental_health.js" type="text/javascript"></script>
    </body>
</html>