body{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #e7eff6, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
    padding: 20px;

}
.info-well{
    border-color:transparent;
    border: transparent;
    background: linear-gradient(to right,#226c91,#398fba);
}
.row{
    padding-top: 20px;
}

.btn{
    background: white;
    color: darkblue;
}

.thumbnail{
    background-color:aliceblue;
    color: darkblue;
    border: transparent;
}
.thumbnail .caption{
    color:cornflowerblue;
    background-color: aliceblue;
    background-color: white;
    font-size: 1.2em;
}

.thumbnail .caption-expand{
    padding: 0px;
    border: transparent;
    margin: 0px;
    
}

.thumbnail-post{
    background: white;
    color:darkblue;
    height: 100px;  
    padding: 10px;
    overflow:hidden;   
    text-transform:capitalize;
    margin: 6px;
    text-align: justify;
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.thumbnail .post-caption{
    height: inherit;
    background-color: white;
    color: darkblue;
    font-size: 1.2em;
}

.header{
    color:orange;
    font-size: 1.5em;
    text-align: left;
}

.rounded{
    border-style: groove 4px;
    border-spacing: 10px;
    margin-left: 40px;
}



.thumbnail-post .a1{
    position: absolute;
    top: 0;left: 0;
    height: 100%;width: 100%;
}


.a1:link{
    background-color: #e7eff6;
    color: darkblue;
    text-decoration: none;
}
.a1:hover{
    background: linear-gradient(to right,#226c91,#398fba);
    color:white;
    text-decoration: none;
}
p{
    padding: 5px;
}
