body{
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    margin: 0px;
    padding: 20px;

}
.well{
    border-color:transparent;
    background: linear-gradient(to left, red, orange, yellow, green, blue, violet);
}
.row{
    padding-top: 20px;
}

.btn.btn-info{
    background: #f7882f;
    color: white;
}

.thumbnail{
    background-color:white ;
    color: darkblue;
    border: transparent;
    /*padding: 20px;
    margin: 20px;*/
}

.thumbnail-post{
    background: white;
    color:darkblue;
    height: 100px;  
    overflow:hidden;   
    text-indent: inherit;
    text-transform:capitalize;
    text-align: justify;
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.header{
    color:orange;
    font-size: 1.5em;
    text-align: left;
}

.rounded{
    border-style: groove 4px;
    border-spacing: 10px;
    margin-left: 40px;
}

.thumbnail .caption{
    color:black;
    font-size: 1.2em;
    background-color: white;
}

.thumbnail .caption-expand{
    padding: 0px;
    border: transparent;
    margin: 0px;
    
}

.thumbnail .post-caption{
    height: inherit;
    background-color: white;
    color: darkblue;
    font-size: 1.2em;
}

.thumbnail-post .a1{
    position: absolute;
    top: 0;left: 0;
    height: 100%;width: 100%;
}


.a1:link{
    background-color: white;
    color: darkblue;
    text-decoration: none;
}
.a1:hover{
    background: #3b5998;
    color:white;
    text-decoration: none;
}
p{
    padding: 5px;
}
.a2:hover{
    background: #f7882f;
    text-decoration: none;
    color:white;
}