/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;

  /* for the space between navbar and body content */
  padding: 55px 0 0 0;
}
.footer {
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #eee;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Campground show page delete button */
.delete-form {
	display: inline;
}

/* Flexbox grid fix */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.posts {
  padding: 20px;
  height: 90%;
}
.posts:hover {
  background: #337ab7;
  color: white;
  text-decoration: none;
  transform: scale(1.08);
  text-transform: capitalize;
}

.panel-heading {
  font-size: 1.6em;
}

.panel-body {
  font-size: 1.2em;
}

.footnotes {
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: #f5f5f5;
}

/* the table fix */
table{
    table-layout: fixed;
}

.addbutton {
  align-items: right;
}

.sidebar {
  border-right: #eee 3px;
}