<% include ../partials/header %>
<header class="jumbotron">
	<div class="container">
		<h1>Welcome To Our Memoirs</h1>
		<p>Share Your Experience and Learn More</p>
		<p>
			<a class"btn btn-primary btn-lg" href="/memoirs/new">Add New Memoir</a>
		</p>
	</div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
	<% memoirs.forEach(function(memoir) { %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<!-- <img src="<%= memoir.image %>"></img> -->
				<div class="caption">
					<h4><%= memoir.name %></h4>
				</div>
				<p>
          <a href="/memoirs/<%= memoir._id %>" class="btn btn-primary">More Info</a>
        </p>
			</div>	
		</div>
	<% }); %>
</div>



<% include ../partials/footer %>